header {
	background-color: #375a7f;
	color: #fff;
	nav {
		margin-left: 2em;
		margin-right: 2em;
		display: flex;
		align-items: center;
	}
	nav > * {
		display: inline-flex;
	}
	ul li {
		display: inline;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}
	a {
		color: inherit;
	}
}

.navbar-home {
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.navbar-menu {
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.CV-header {
	position: relative;
	display: inline-block;
	background-color: #375a7f;
}

.CV-list {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;

	background-color: #f1f1f1;
	z-index: 1;
	
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 8rem;
}

.CV-list li {
	color: black;
	padding: 0.5em 0 0.5em 1em;
	margin: 0;
	text-decoration: none;
	display: block;
}

.CV-list a:hover {background-color: #ddd;}

.CV-header:hover .CV-list {display: block;}

.CV-header:hover {background-color: #476a8f;}
