<header>
    <nav>
        <a href="index.html" class="navbar-home"><b>Mael Astruc--Le Souder</b></a>
        <ul class="navbar-menu">
            <li><a href="research.html">Research</a></li>
            <li class="CV-header">
                CV
                <ul class="CV-list">
                    <li><a href="files/Mael_Astruc__Le_Souder_CV-en.pdf" target="_blank">English</a></li>
                    <li><a href="files/Mael_Astruc__Le_Souder_CV-fr.pdf" target="_blank">Français</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>